<% include partials/_header %>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="POST">
                            <div class="form-group">
                                <input type="text" name="title" placeholder="Titulo" class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea name="description" cols="80" class="form-control" placeholder="Calificacion" ></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
             <!--Lista-->
            <div class="col-md-9">
                <table class="table table-bordered">
                    <thead>
                        <th>N°</th>
                        <th>Titulo</th>
                        <th>Calificacion</th>
                        <th>Familiar</th>
                        <th>Opciones</th>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < tasks.length;i++) {%>
                            <tr>
                                <td> <%= tasks[i]._id %></td>
                                <td> <%= tasks[i].title %></td>
                                <td> <%= tasks[i].description%> </td>
                                <td> <%= tasks[i].status%></td>
                                <td>
                                    <a href="/turn/<%= tasks[i]._id%>" class="btn <%= tasks[i].status ? 'btn-success' : 'btn-dark'%>">+18</a>
                                    <a href="/delete/<%= tasks[i]._id%>" class="btn btn-danger">Borrar</a>
                                    <a href="/edit/<%= tasks[i]._id%>" class="btn btn-primary">Editar</a>
                                </td>
                            </tr>
                        <%}%>    
                    </tbody>
                </table>
            </div>
        </div>
       
    </div>



<% include partials/_footer%>